doctype
html(lang="en-us")
	head
		title Gravity payments
		meta( charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		meta(name='author', content='Gentry Rolofson')
		link(rel="icon", type="image/ico", href="favicon.ico")
		link(href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,600,800', rel='stylesheet', type='text/css')
		link(href='assets/css/main.css', rel='stylesheet' type='text/css')
	body
		div(id="wrapper")
			header
				div(id="top-menu")
					section(class="top-menu-contact")
						p 866.701.4700 | support@gravitypayments.com
				section(class="bottom-menu")
					section(class="bottom-menu-logo")
						img(src="assets/images/logo.png")
					section(class="bottom-menu-nav")
						nav 
							ul
								li 
									a(href="#") Home
								li 	
									a(href="#") About
								li 
									a(href="#") Careers
								li 
									a(href="#") Services
								li 
									a(href="#") Stories
								li 
									a(href="#") Blog 
								li 
									a(href="#") Contact 
								li 
									a(href="#") Account 
			div(id="img-slider")
				//div(id="left-arrow")
					img(src="assets/images/left-arrow.png")
				//div(id="right-arrow")
					img(src="assets/images/right-arrow.png")
				section(id="img")
					//will make dynamic slider later
					img(src="assets/images/img1.jpg")
			section(class="main-container")
				div(class="who-we-are")
					img(src="assets/images/round58.png")
					p We’re hard-working, entrepreneurial, and principled much like the independent businesses we exist to support.
					
					p 
						a(href="#") Learn More >
				div(class="what-we-do")
					img(src="assets/images/folder162.png")
					p Our passionate team saves our community businesses time, money, and stress, helping them to succeed and grow.
					
					p 
						a(href="#") Learn More >
				div(class="stories-of-us")
					img(src="assets/images/chat46.png")
					p Hear what the people have to say about their experiences with us, and the story we’re creating with passion every day.
					
					p 
						a(href="#") Learn More >
			section(class="bottom-media")
				div(class="bottom-media-video")
					<iframe width="528" height="308" src="https://www.youtube.com/embed/gVUESuFSdaA" frameborder="0" allowfullscreen></iframe>
				div(class="bottom-media-info")
					h2 Building A Business With Values & Integrity
					p “We started our company to help our community businesses, because they deserve the same great customer service and low prices that big corporate businesses get. And we’ve grown our company by earning the trust of each and every one of our valued customers.”
					img(src="assets/images/signature.jpg")
					p(class="sig") <span>Dan Price</span>, Founder and CEO

			section(class="bottom-touch")
				div(class="bottom-touch-info")
					h3 Not sure where to start?
					p That's all right. Any member of our team would be more then happy to answer any of your questions.
				div(class="bottom-touch-button")
					button get in touch
			footer
				div(class="footer")
					div(class="footer-work")
						h2 Work with up
						p They say “a company is only as good as the people it keeps.” Find out more about joining our passionate team and our award-winning workplace. 
					div(class="footer-highlights")
						h2 Recent Highlights
							ul
								li 
									a(href="#") Small Business Tax Tips
								li 
									a(href="#") FD130 How-To: Connect To WiFi
								li
									a(href="#") VX520 How-To: Run An Apple Pay Sale 
					div(class="footer-touch")
						h2 Get in touch
						p Phone: 1.866.701.4700
						p Fax: 1.206.428.7102
						p Email: info@gravitypayments.com 